@model thirdPractice.Models.User

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <h1>Eliminar</h1>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">¡Atención!</h4>
        <p>Estás a punto de eliminar un Usuario. Esta acción no se puede deshacer.</p>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Usuario</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Nombre</dt>
                <dd class="col-sm-10"> @Html.DisplayFor(model => model.FirstName) </dd>
                <dt class="col-sm-2">Apellido</dt>
                <dd class="col-sm-10"> @Html.DisplayFor(model => model.LastName) </dd>
                <dt class="col-sm-2">Correo</dt>
                <dd class="col-sm-10"> @Html.DisplayFor(model => model.Email) </dd>
                <dt class="col-sm-2">Cumpleaños</dt>
                <dd class="col-sm-10"> @Html.DisplayFor(model => model.Birthday) </dd>
                <dt class="col-sm-2">Foto</dt>
                <dd class="col-sm-10">
                    <img src="@Model.Photo" alt="Imagen del usuario" class="img-thumbnail mt-1" style="max-width: 150px;" />
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
        </form>
    </div>
</div>



